body {
    font-family: sans;
    font-size: 0.8rem;
    width: 16rem;
    margin: auto;
}

.item-result,
.input-search {
    height: 1.5rem;
    margin: 0.5rem;
    padding: 0.3rem 1.5rem;
    border-radius: 0.3rem;
    box-sizing: border-box;
}

.input-search {
    background: url("https://img.icons8.com/ios-filled/344/search--v1.png") no-repeat left;
    background-size: 1.5rem 1.5rem;
    padding-left: 2rem;
    width: 15rem;
}

.item-result {
    background-color: #623efc;
    color: white;
    width: 15rem;
}

.search-results:empty::after {
    content: "No results found!";
    display: block;
    width: 15rem;
    height: 1.5rem;
    margin: 0.5rem;
    padding: 0.2rem 2rem;
    box-sizing: border-box;

    border-radius: 0.3rem;
    background-color: #ff6247;
    color: white;

}